
.header{ background: #031637 !important;}
.home-icon{    color: #fff;background: none;font-size: 26px;}
.login-heading{   padding: 15px; text-align: center; line-height: 2;  }
.heading{ color:#fff; font-size: 22px;}
.heading-btm{ font-size: 22px; color: #333; font-weight: bold; text-align: center;width: 100%; padding: 20px;}
.btm_btn{  padding: 20px; font-size: 20px; color: #fff;}
.slide-box{ background: #ffffff;}
.yellow{ background:#f4c200;}
.orange{ background:#da5601;}
.mehroon{ background:#730e12;}
.green{ background:#619109;}
.darkgreen{ background:#1e3b0f;}
.blue{ background:#0d2a78;}
.back-icon{ background: none; font-size: 52px;}
.dark{ background:#031637;}
.pd-20{ padding: 30px;}
.m-10{ margin: 20px;}
.full-width{ width: 100%;}
.f-24{ font-size: 24px;}
