<ion-header>
    <ion-toolbar color="dark" class="header">
       <ion-buttons slot="start">
        <button class="home-icon" routerLink="/home"  ><ion-icon name="home"></ion-icon></button>
    </ion-buttons>
      <ion-title left>
       Arodek
      </ion-title>
      <ion-buttons slot="end">
          <button class="home-icon" routerLink="/icon-keys" ><h5>Admin</h5></button>
      </ion-buttons>
      <ion-buttons slot="end">
          <button  class="home-icon" routerLink="/files"><h5>Edit Profile</h5></button>
      </ion-buttons>
      <ion-buttons slot="end">
          <button  class="home-icon"  routerLink="/update-profile"  ><h5>Logout</h5></button>
      </ion-buttons> 
      
        
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card >
        <ion-card-header class="login-heading">
           <ion-card-title  class="heading" >Update Profile</ion-card-title>
        </ion-card-header>
      
        <ion-card-content > 
            <ion-label>Email</ion-label>
            <ion-item class="form-control">
               <ion-input    placeholder="Email Address"  ></ion-input>
            </ion-item>
            <ion-label>Current Password</ion-label>
            <ion-item class="form-control">
                <ion-input type="password" placeholder="Current Password"  ></ion-input>
            </ion-item>
            <ion-label>Password</ion-label>
            <ion-item class="form-control">
                <ion-input type="password" placeholder=" Password"  ></ion-input>
            </ion-item>
            <ion-label>Password Confirmation</ion-label>
            <ion-item class="form-control">
                <ion-input type="password" placeholder=" Password Confirmation"  ></ion-input>
            </ion-item>
          
           
            <ion-row>
                <ion-col size="2">
                    <button class="btn green" ion-button margin-right routerLink="/home">
                      Save
                    </button>
                     </ion-col>
                     <ion-col  size="2" class="text-right">
                        <button class="btn white-btn" ion-button margin-right routerLink="/home">
                          Cancel
                        </button>
                          </ion-col>
                       
                                 
              </ion-row>
        </ion-card-content>
      </ion-card>
</ion-content>
