.login-box{ background: #fff; margin-top: 10%;}
.btn{ width: 100%; padding: 10px; background: #031637; color: #fff; height: 50px;}
.update{   padding: 20px; text-align: center;}

.form-control{ background: #fff; margin-top: 5px; border:1px solid #efefef;  margin-bottom: 15px;  }
.header{ background: #031637 !important;}
.home-icon{    color: #fff;background: none;font-size: 26px;}
.heading{ padding: 10px;}
.green{ background: seagreen;}
.white-btn{ background:#fff; border: 1px solid #d3d3d3; color: #000;}