
<ion-content>
    <ion-card  class="login-box">
        <ion-card-header class="login-heading">
           <ion-card-title  class="heading" >Mobile Emergency Responce Plan</ion-card-title>
        </ion-card-header>
      
        <ion-card-content >
            
            <ion-item class="form-control">
              <ion-label stacked>Email Address</ion-label>
              <ion-input placeholder="username" ></ion-input>
            </ion-item>
          
            <ion-item class="form-control">
              <ion-label stacked>Password</ion-label>
              <ion-input type="password"placeholder="password"  ></ion-input>
            </ion-item>
          
            <div text-center margin-top>
              <button class="btn" ion-button margin-right routerLink="/home">
                SIGN IN
              </button>
              <p  routerLink="/forgetpassword" class="forget">Forget your Password</p>
           
            </div>
        </ion-card-content>
      </ion-card>

     
 
</ion-content>
<ion-footer>
    <img src="assets/img/logo-merp.png">


    
  </ion-footer>