
.login-heading{ background: #031637; padding: 15px; text-align: center; line-height: 2;}
.heading{ color:#fff; font-size: 26px;}
.form-control{ background: #fff; margin-top: 15px;  }
.login-box{ background: #dde5fa; margin-top: 25%;}
.btn{ width: 100%; padding: 10px; background: #0d2a7a; color: #fff; height: 50px;}
.forget{ text-decoration-line: underline; margin-top: 10px;}
.footer-md:before{ background: none;}