.header{ background: #031637 !important;}
.home-icon{    color: #fff;background: none;font-size: 26px;}
.btn{ width: 100%; padding: 10px;     box-shadow: 1px 1px 25px 0px #000000;   border-top: 1px solid #696969; text-transform: uppercase;   color: #fff; height: 55px;font-size: 18px;}
.dashboard-box{ padding: 0;}
.nopadding{ padding: 0;}
.yellow{ background:#f4c200;}
.orange{ background:#da5601;}
.mehroon{ background:#730e12;}
.green{ background:#619109;}
.darkgreen{ background:#1e3b0f;}
.blue{ background:#0d2a78;}
