<ion-header>
    <ion-toolbar color="dark" class="header">
       <ion-buttons slot="start">
        <button class="home-icon" ><ion-icon name="home" routerLink="/home"></ion-icon></button>
    </ion-buttons>
      <ion-title left>
       Arodek
      </ion-title>
      <ion-buttons slot="end">
          <button class="home-icon" routerLink="/icon-keys" > <ion-icon name="help-circle"></ion-icon> </button>
      </ion-buttons>
      <ion-buttons slot="end">
          <button  class="home-icon" ><ion-icon name="filing"></ion-icon></button>
      </ion-buttons>
      <ion-buttons slot="end">
          <button  class="home-icon"  routerLink="/update-profile" ><ion-icon name="person"></ion-icon></button>
      </ion-buttons>
      <ion-buttons slot="end">
          <button  class="home-icon" routerLink="/login"  ><ion-icon name="power"></ion-icon></button>
      </ion-buttons>
      
        
    </ion-toolbar>
  </ion-header>

<ion-content>
              <ion-grid>
                      <ion-row>
                           <ion-col no-padding size-xs="12" size-sm="12" size-lg="3"   size-xl="3">
            
    <ion-grid>
        <ion-row>
                <ion-col></ion-col>
            
                <ion-col>
                        <h3>Icon Keys</h3>
              </ion-col>
              <ion-col>
                  <h3><ion-icon name="close"  routerLink="/home"></ion-icon></h3>
                </ion-col>
                  </ion-row>
       <ion-row>
             <ion-col size="4">
                    <ion-icon class="icon-key" name="home"></ion-icon>
             </ion-col>
             <ion-col size="8">
             
               <p><strong>Home Button -</strong> Display the available Emergency PLans based on Group Assignment.</p>
              </ion-col>
          </ion-row>
          <ion-row>
                <ion-col size="4">
                       <ion-icon class="icon-key" name="settings"></ion-icon>
                </ion-col>
                <ion-col size="8">
                
                  <p><strong>Adminstrative Setting -</strong> Provide Access to Adminstrative options.</p>
                 </ion-col>
             </ion-row>
      
             <ion-row>
                    <ion-col size="4">
                           <ion-icon class="icon-key" name="power"></ion-icon>
                    </ion-col>
                    <ion-col size="8">
                    
                      <p><strong>Sign Out -</strong> Signs the User out of the MERP system.</p>
                     </ion-col>
                 </ion-row>
      
                 <ion-row>
                        <ion-col size="4">
                               <ion-icon class="icon-key" name="warning"></ion-icon>
                        </ion-col>
                        <ion-col size="8">
                        
                          <p><strong>Incident Icon -</strong>Incident which events is currently selected.</p>
                         </ion-col>
                     </ion-row>
      
                     <ion-row>
                            <ion-col size="4">
                                   <ion-icon class="icon-key" name="filing"></ion-icon>
                            </ion-col>
                            <ion-col size="8">
                            
                              <p><strong>Support files -</strong> Access to any supporting files that have been uploaded.</p>
                             </ion-col>
                         </ion-row>
                         <ion-row>
                                <ion-col size="4">
                                       <ion-icon class="icon-key" name="browsers"></ion-icon>
                                </ion-col>
                                <ion-col size="8">
                                
                                  <p><strong>Overview  -</strong> Displays a flow chart overview of the incident selected,  </p>
                                 </ion-col>
                             </ion-row>
                             <ion-row>
                                    <ion-col size="4">
                                           <ion-icon class="icon-key bg-black"  name="filing"></ion-icon>
                                    </ion-col>
                                    <ion-col size="8">
                                    
                                      <p><strong>Event Aid -</strong> Offers more information specific to the incident selected.</p>
                                     </ion-col>
                                 </ion-row>
                                 <ion-row>
                                        <ion-col size="4">
                                               <ion-icon class="icon-key" name="list-box"></ion-icon>
                                        </ion-col>
                                        <ion-col size="8">
                                        
                                          <p><strong>Incident Log -</strong> Displays the incident log with the ability to add in additional notes.</p>
                                         </ion-col>
                                     </ion-row>
                                     <ion-row>
                                            <ion-col size="4">
                                                   <ion-icon class="icon-key" name="close"></ion-icon>
                                            </ion-col>
                                            <ion-col size="8">
                                            
                                              <p><strong>Close -</strong> Close the Current Window and return the user to the home dashboard.</p>
                                             </ion-col>
                                         </ion-row>
                                                             
    </ion-grid>      

</ion-col> 
</ion-row>
</ion-grid>
</ion-content>
