
<ion-content>
    <ion-card  class="login-box">
        <ion-card-header class="login-heading">
           <ion-card-title  class="heading" >Forget Password</ion-card-title>
        </ion-card-header>
      
        <ion-card-content >
            
            <ion-item class="form-control">
              <ion-label stacked>New Password</ion-label>
              <ion-input placeholder="password" ></ion-input>
            </ion-item>
          
            <ion-item class="form-control">
              <ion-label stacked>Confirm Password</ion-label>
              <ion-input type="password"placeholder="password"  ></ion-input>
            </ion-item>
          
            <div text-center margin-top>
              <button class="btn" ion-button margin-right routerLink="/home">
               Password Reset
              </button>
              <p  routerLink="/login" class="forget">Go To Login</p>
           
            </div>
        </ion-card-content>
      </ion-card>

     
 
</ion-content>
<ion-footer>
    <img src="assets/img/logo-merp.png">


    
  </ion-footer>