.header{ background: #031637 !important;}
.home-icon{    color: #fff;background: none;font-size: 26px;}
.title-left{    text-align: left;    padding: 0px 45px;}
.message-box { padding: 0px;   margin: 0;   background: #4c4c4c;
    border-radius: 0; text-align: center; color: #ffffff; border-bottom: 1px solid #333;
}
.msg-heading{ color: #ffffff; font-size: 20px; text-align: left;}
.msg-locate{ color: #ffffff; font-size: 16px; text-align: left; margin-bottom: 10px;}
.msg-category{ color: #efefef; font-size: 15px; text-align: left;}
 .text-right{ text-align: right;}
 .msg-dlt{ font-size: 48px; color: #ff0000; text-align: right; font-weight: bold;}