
.btn{ width: 100%; padding: 10px;    border-top: 1px solid #989898; background: #0d2a7a; color: #fff; height: 55px;font-size: 18px;}
.footer-md:before{ background: none;}
.dashboard-box{ padding: 0;}
.nopadding{ padding: 0;}
.btm-btn .btn{ background:#f3c100; border-radius:5px;border-top:none; }
.top-btn .btn{ background:#630d10; border-radius:5px;border-top:none;}
.header{ background: #031637 !important;}
.home-icon{    color: #fff;background: none;font-size: 26px;}